{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-7 mx-auto">
    <div class="card">
      <div class="card-header"><h2>Publicar Comando MQTT</h2></div>
      <div class="card-body">
        <form method="POST" action="{{url_for('publish')}}">
          <fieldset>
            <div>
              <legend for="radio-buttons">Nodo receptor</legend>
              <select class="form-select" id="node-select" name="nodo-select">
                {% for nodo in nodos %}
                <option value="{{ nodo }}">{{ nodo }}</option>
                {% endfor %}
              </select>
            </div>
            <fieldset>
              <legend class="mt-4">Comando a enviar</legend>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="comando" id="optionsRadios1" value="destello"
                  checked="">
                <label class="form-check-label" for="optionsRadios1">
                  Destello
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="comando" id="optionsRadios2" value="setpoint">
                <label class="form-check-label" for="optionsRadios2">
                  Setpoint
                </label>
              </div>
            </fieldset>
            <fieldset>
              <div id="temperatura-container" style="display:none;">
                <legend class="mt-4">Configuración</legend>
                <label for="customRange3" class="form-label">Temperatura: <span id="range-value">0</span> °C</label>
                <input type="range" class="form-range" min="0" max="50" step="1" id="customRange3" name="temperatura">
              </div>
            </fieldset>
            </fieldset>
              <button type="submit" class="btn btn-primary mt-3">Publicar</button>
            </fieldset>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
